target/META-INF/mule-src/xsettlers/src/main/mule/gameboard.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="dieTester" doc:id="9d38af79-3239-4a58-98fc-d6305669aff7" >
		<http:listener doc:name="GET /dietest" doc:id="2a18ff4c-b1e7-48c7-afee-03e179165357" config-ref="Application_Global_Listener_config" path="/dietest"/>
		<ee:transform doc:name="Transform Message" doc:id="6fdee711-56d1-45be-88e9-db278bc7a941" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 30]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="7d276b5a-36fc-4f2e-8897-88dde0c34ee9" >
			<set-payload value="#[20]" doc:name="Set Payload" doc:id="065fc333-edcf-40a5-9d12-8bfd491ad730" />
			<flow-ref doc:name="Flow Reference" doc:id="fb7ad815-7543-48c4-860e-c30bfaefed7a" name="dieRoll"/>
			<logger level="INFO" doc:name="Logger" doc:id="ad23e231-d83d-48d0-bb11-7363864d30a9" message="#[payload]"/>
		</foreach>
	</flow>
	<flow name="dieRoll" doc:id="2862b76c-8d00-42dd-afc2-f4133ab15371" >
		<ee:transform doc:name="createResults" doc:id="71c6c2c2-0304-40a9-9759-c841839758b5" doc:description="This routine is payload destructive
it uses the number in the payload (if one exists)
or else assigns a default of 6,
and then rolls a die with that many sides
returns result in payload" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if (payload is Number)
	randomInt(payload) + 1
else 
	randomInt(6) + 1]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="scratchpad" ><![CDATA[%dw 2.0
output application/dw
---
100 is Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
